@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-section {
    display: flex;
}


/* shared style */
.display-flex {
    display: flex;
}

.span-color {
    color: #E95A08;
}

/* header style */

/* navber related style */
.navbar-section {
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
}

.menu {
    align-items: center;
    margin: 0 auto;
}

.menu-items,
.nav-link,
.banner {
    align-items: center;
}

.navbar-section,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.shopping-cart {
    width: 45px;
    height: 45px;
}

.cart-icon-and-tab {
    margin-right: 0px;
    list-style: none;
}

.home-tab {
    font-size: 1rem;
    font-weight: bold;
    color: #252432;
}

.shop-and-about-tab {
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
}

.cart-tab {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
/* main style section */
.banner {
    margin-top: 120px;
}

.banner-title {
    font-size: 4.06rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 0px;
}

/* Plants section style/main */
/* .main-content-section{
    max-width: 1140px;
    margin: 0 auto;
} */
.plants-title-description {
    margin: 0 auto;
    text-align: center;
}

.plants-title {
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 16px;
}

.plants-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: 400;
    font-size: 1.375rem;
    font-weight: 400;
    max-width: 888px;
    margin: 0 auto;
}

.product-card-section {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

img {
    margin-bottom: 0px;
}

.product-card-margin {
    margin-top: 49px;
}

.product-title {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
}

.product-price {
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    padding: 12px 50px 12px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0px;
    border: none;
    margin-top: 30px;
}
/* Plants Lover Section */
.plants-lover-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
    gap: 0px;
}
.plant-lover-image{
    margin-bottom: 0px;
}
.plants-lover{
    max-width: 540px;
    margin-left: -20px;
}
.plant-lover-title{
    color: #000000;
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}
.plant-lover-description{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font-size: 1.375rem;
    font-weight: 400;
}
.trusted-badge{
    max-width: 286px;
    max-height: 286px;
    margin-top: -125px;
    margin-left: -190px;
    filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
}
/* latest deals section style */
.latest-deals-title-desceiption{
    margin: 0 auto;
    text-align: center;
}
.latest-deals-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 133px;
    margin-bottom: 0px;
}
.left-image{
    border-radius: 14px;   
}
.right-image{
    border-radius: 22px;
}
.latest-deals-description{
    max-width: 888px;
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 16px; 
}
.latest-deals-img-section{
    max-width: 1140px;
    margin: 0 auto;
    gap: 30px;
}

 .left-top-image{
    margin-bottom: 12.5px;
 }
 .left-image-1{
    position: relative;
    display: inline-block;
 }
 .left-image-2{
    position: relative;
    display: inline-block;
 }
 .right-image-3{
    position: relative;
    display: inline-block;
 }
 .discount-1{
  position: absolute;
  top: 50%;              
  left: 50%;             
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
}
.discount-2{
  position: absolute;
  top: 50%;              
  left: 50%;             
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.discount-3{
  position: absolute;
  top: 50%;              
  left: 50%;             
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.deals-title{
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
    margin-bottom: 0px;
}
.deals-description{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 19px;
}
.deals-title-big{
    font-size: 2.5rem;
    font-weight: bold;
    display: inline;
    margin-bottom: 0px;
}
.deals-description-big{
    font-size: 1,75rem;
    font-weight: 600;
    margin-top: 15px;
}


 .left-bottom-image{
    margin-top: 20px;
 }
 .latest-deals-img-section{
    margin-top: 120px;
 }

 /* join section style */

 .background-image{
    background-image: url(../assets/news-letter-bg.png);
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1440px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
 }
 .join-section-title{
    text-align: center;  
 }
 .join-title{
    margin-top: 120px;
    color: #FFFFFF;
    margin-bottom: 0px;
    font-size: 3.125rem;
    font-weight: bold;
 }
 .input-and-button{
    margin-top: 23px;
    margin-bottom: 140px;
    text-align: center;
    justify-content: center;
 }
 .placeholder-style{
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 400px 15px 20px;
    color: rgba(0, 0, 0, 0.5);
 }
 .button-style{
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 53.5px 16px 53.5px;
    border: none;  
 }
 


/* Mobile Device Responsiveness */
@media screen and (max-width:576px) {

    .home-tab,
    .shop-and-about-tab {
        display: none;
    }

    .banner {
        grid-template-columns: repeat(1 1fr);
        flex-direction: column-reverse;
    }

    .navbar {
        max-width: 360px;
        margin: 0 auto;
    }

    .banner img {
        width: 100%;
    }

    .banner {
        margin-top: 28px;
    }
    .navbar-tab{
        display: block;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 28px;
    }

    .banner-description {
        font-size: 0.875rem;
        margin-bottom: 0px;
    }

    .banner-content {
        max-width: 361px;
    }

    /* plants section responsive */
    .plants-title {
        font-size: 1.5rem;
        margin-top: 65px;

    }

    .plants-description {
        font-size: 0.875rem;
        max-width: 336px;
    }
/* product card style */
.card{
    max-width: 171px;
}
    .product-card-section {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 0px;
    }
    .product-card-margin{
        margin-top: 28px;
        column-gap: 6px;
        row-gap: 25px;  
    }
    .product-title{
        margin-top: 28px;
        margin-bottom: 0px;
        font-size: 1rem;
        font-weight: 500;
    }
    .product-price{
        margin-top: 5px;
        font-size: 1rem;
        font-weight: bold;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 600;
        padding: 16px 29px 30px 29px;
    }

    /* plants and flower lover section */

    .plants-lover-section{
        display: block;
        margin-top: 41px;
    }
    .plant-lover-image{
        max-width: 361px;      
        margin: 0 auto;
    }
    .plant-lover-img-margin{
        margin-top: 0px;
    }
    .plants-lover{
        max-width: 361px;
        margin: 0 auto;
    }
    .plant-lover-title{
        font-size: 1.5rem;
        margin-top: 18px;
    }
    .trusted-badge{
        display: none;
    }
    .desktop-break{
        display: none;
    }
    .plant-lover-description{
        font-size: 0.875rem;
        margin-top: 16px;
    }
     .unorder-list{
        padding-left: 21px;
        max-width: 361px;
        
     }
     /* latest deals style */
     .latest-deals-img-section{
        max-width: 361px;
        display: block;
     }
     .left-top-image{
        width: 100%;
     }
     .right-image{
        width: 100%;
     }
     /* join section responsive */
     
     .input-and-button{
        max-width: 321px;
     }
     .placeholder-style{
        padding: 0px;
        font-size: 1rem;
        font-weight: 400;
     }
     .button-style{
        font-size: 1rem;
        font-weight: 600;
        padding: 14px 12px 16px 12px;
     }
     .join-title{
        font-size: 1.25rem;
        font-weight: bold;
     }
     .placeholder-style{
        padding-left: 20px;
     }
     .background-image{
        margin-top: 40px;
     }
     .right-image-3{
        margin-top: 20px;
     }
     .left-top-image{
        margin-bottom: 0px;
     }
     .background-image{
        height: 276px;
     }
     .input-and-button{
        margin-bottom: 61px;
     }



}